@import url("https://fonts.googleapis.com/css?family=Helvetica") * {
  font-family: "Helvetica";
  font-size: 20px;
  color: #ffffff;
  box-sizing: border-box;
}

/**** Header *****/
.header {
  text-align: center;
  padding-top: 3.5rem;
  height: 20rem;
  color: #ffffff;
}

.headerClip {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 23rem;
  width: 100%;
  background-color: #707070;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
  z-index: -1;
}

.header > h2 {
  margin-top: 0px;
  font-size: 1rem;
}

.header > h1 {
  height: 2.4rem;
}

.header > h3 {
  margin-top: 1.2rem;
  margin-bottom: 2.5rem;
}

.header button {
  font-size: 0.7rem;
  margin: 0% 2% 2% 2%;
  width: 8rem;
  box-shadow: 0 1px #00000029;
}

button {
  font-size: 16px;
  border: 1px solid #707070;
  border-radius: 4px;
  padding: 10px 0;
  background-color: white;
}
/**** Header *****/

/****** Head Messages *****/
#message {
  margin: 1rem 0 4.5rem 0;
}

.col-1 {
  float: left;
  width: 60%;
}

.col-2 {
  float: left;
  width: 40%;
}

#messageText {
  display: flex;
  flex-direction: column;
  top: 0;
  margin: 0px 1.5rem;
  font-size: 0.6rem;
}

.messageForm {
  display: flex;
  flex-direction: column;
  height: 18rem;
  width: 17rem;
  margin: 0 1.5rem;
  margin-bottom: 1rem;
}

.messageForm > br {
  margin-bottom: 0.75rem;
}

#messageText > h4 {
  font-size: 1rem;
}

#messageText > p {
  font-size: 1rem;
}

.radio > label {
  margin-right: 2rem;
}

label {
  font-size: 0.7rem;
}

input {
  font-size: 0.85rem;
}
/****** Head Messages *****/

/****** Separator *******/
.separator {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000;
}
.separator::before {
  margin-right: 0.75em;
}
.separator::after {
  margin-left: 0.75em;
}
/****** Separator *******/

/****** Cards *******/
/* Float four columns side by side */
.product {
  float: left;
  width: 23%;
  padding: 0 0.5em;
}

/* Remove extra left and right margins, due to padding */
.products {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.products:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the cards */
.productCard {
  padding: 0.2em;
  text-align: left;
  background-color: #f1f1f1;
}

.productCard > button,
img {
  width: 100%;
}
/****** Cards *******/

/****** More Products *******/
#moreProducts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#moreProducts button {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

/****** Mobile *******/
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    flex-direction: column;
    width: 100%;
  }

  .header {
    text-align: left;
    margin-left: 1rem;
  }

  #message {
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #messageText {
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .messageForm #messageText {
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .productCard {
    margin: 0;
    padding: 0;
  }

  .product {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

/****** Mobile *******/
